{% extends "layout.html" %}
{% block content %}
	<br>

	<h1> <b> Automated Control </b> </h1>
	<hr/>
	<p> This section allows the user to input the parameters for the automated kegerator simulation </p>
	<div class="content-section">
		<form method="POST" action="">
			{{ form.hidden_tag() }}
			<fieldset class="form-group">
				<legend class="border-bottom mb-4">
					Input Parameters to Kegerator
				</legend>
				<div class="row">
					<div class="form-group col-md-4">
						{{ form.start_date_sim.label(class="form-control-label") }}
						{{ form.start_date_sim(class="form-control form-control-lg") }}
					</div>
					<div class="form-group">
						{{ form.start_time_day.label(class="form-control-label") }}
						{{ form.start_time_day(class="form-control form-control-lg") }}
					</div>
					<pre>            </pre>
					<table class="form-group col-md-4">
					  <tr style="text-align:center">
						<th>{{ form.valve_1_check.label(class="form-control-label") }}</th>
						<th>             </th>
						<th>{{ form.valve_2_check.label(class="form-control-label") }}</th>
						<th>             </th>
						<th>{{ form.valve_3_check.label(class="form-control-label") }}</th>
					  </tr>
					  <tr>
						<td>{{ form.valve_1_check(class="form-control form-control-lg") }}</td>
						<td>             </td>
						<td>{{ form.valve_2_check(class="form-control form-control-lg") }}</td>
						<td>             </td>
						<td>{{ form.valve_3_check(class="form-control form-control-lg") }}</td>
					  </tr>
					</table>
				</div>
				<div class="row">
					<div class="form-group col-md-4">
						{{ form.end_date_sim.label(class="form-control-label") }}
						{{ form.end_date_sim(class="form-control form-control-lg") }}
					</div>
					<div class="form-group">
						{{ form.end_time_day.label(class="form-control-label") }}
						{{ form.end_time_day(class="form-control form-control-lg") }}
					</div>
				</div>
				<div class="form-group">
						{{ form.number_of_drinks.label(class="form-control-label") }}
						{{ form.number_of_drinks(class="form-control form-control-lg") }}
				</div>
				<div class="form-group">
						{{ form.volume_of_keg.label(class="form-control-label") }}
						{{ form.volume_of_keg(class="form-control form-control-lg") }}
				</div>
				<div class="form-group">
						{{ form.volume_of_drink.label(class="form-control-label") }}
						{{ form.volume_of_drink(class="form-control form-control-lg") }}
				</div>
				<div class="form-group">
						{{ form.password.label(class="form-control-label") }}
						{{ form.password(class="form-control form-control-lg") }}
				</div>
			</fieldset>
			<div class="form-group">
				{{ form.submit(class="btn btn-outline-info") }}
			</div>
		</form>
	</div>
	<div>
	<br>
	</div>
{% endblock content %}

