{% extends "layout.html" %}
{% block content %}

	<br>
	<h1><b>Home Page</b></h1>
	<hr/>
	<p> 
		Two teams of SIUE students are working together with Pint Perfect to research draft line cleanliness. 
		The Engineering team will provide an automated environment that can simulate a bar-like scenario without constant human supervision.  
		A device has been made as an attatchment to the Edgestar kegerator that will control the output flow. 
		After the simulation is complete, the Biology team will test different methods of draft line cleaning and observe the levels of microbial growth.
		To learn more about the Pint Perfect, visit <a href="https://pintperfectbeer.com/"><b>https://pintperfectbeer.com/</b></a>. </p>
	<p> If you wish to interact with the Automated Kegerator, navigate to the <b> Automated Keg Controls </b> section. </p>
	<p> Below are milestones regarding the website.</p>
	<br/>
	<br/>
	{% for post in posts%}
		<h4> {{ post.title }} </h1>
		<a class="mr-2" href={{ post.link }}> {{ post.author }} </a>
		<small> {{ post.date_posted }} </small>
		<p> {{ post.content }} </p>
	{% endfor %}
	<p><br></p>
{% endblock content %}
