{% extends "layout.html" %}
{% block content %}

	<body>
		<br>
		<h1> <b>Simulation Statistics</b> </h1>
		
		<div style="display:none;">
			<pre><span class="output-format">                Simulation will start in : </span><input class="display-time" id="sim-countdown" readonly="readonly"/></pre>

			<pre><span class="output-format">       Start date and time of Simulation : </span><input class="display-datetime" id="sim-start-datetime" readonly="readonly"/></pre>
				
			<pre><span class="output-format">         End date and time of Simulation : </span><input class="display-datetime" id="sim-end-datetime" readonly="readonly"/></pre>
			<br>
			<br>
			
			<pre><span class="output-format">                      Total Time Elapsed : </span><input class="display-time" id="run-time" readonly="readonly"/></pre>
			
			<pre><span class="output-format">              Time until simulation ends : </span><input class="display-time" id="time-until-end" readonly="readonly"/></pre>
			
			<pre><span class="output-format">                    Time until next pour : </span><input class="display-time" id="time-until-next-pour" readonly="readonly"/></pre>

			<br>
			<br>
				
			<pre><span class="output-format">      Volume Remaining in Keg (in fl oz) : <input class="display-number" id="keg-volume-remaining" readonly="readonly"/> out of <input class="display-number" id="keg-volume-total" readonly="readonly"/> = <a id="percent-keg-remaining"></a>%</span></pre>
			
			<pre><span class="output-format">  Estimated date and time Keg will empty : </span><input class="display-datetime" id="datetime-keg-empties" readonly="readonly"/></pre>
			 
			<pre><span class="output-format">                 Number of Drinks Poured : <input class="display-number" id="drinks-poured" readonly="readonly"/> out of </span><input class="display-number" id="drinks-total" readonly="readonly"/></pre>
	
			<pre><span class="output-format">Total Volume of Drinks Poured (in fl oz) : <input class="display-number" id="drink-volume-poured" readonly="readonly"/> out of </span><input class="display-number" id="drink-volume-total" readonly="readonly"/></pre>

		</div>
		<div style="display:none;">
			<pre><span class="output-format">                  Testing jQuery stuff : </span><input class="display-datetime" id="datetime_of_next_pour" readonly="readonly"/></pre>

			<p id="START_CHECK" value=0></p>
			<p id="POURING"></p>
			<p id="SCHEDULED_CHECK"></p>
		</div>
		<table id="keg_stats">
			<tr>
				<th></td>
				<th>Valve 1</td>
				<th>Valve 2</td>
				<th>Valve 3</td>
			</tr>
			<tr id="sstad">
				<td>Simulation Start Time and Date</td>
				<td id ="valve1">Row 1 Column 2</td>
				<td id ="valve2">Row 1 Column 3</td>
				<td id ="valve3">Row 1 Column 4</td>
			</tr>
			<tr id="setad">
				<td>Simulation End Time and Date</td>
				<td id ="valve1">Row 1 Column 2</td>
				<td id ="valve2">Row 1 Column 3</td>
				<td id ="valve3">Row 1 Column 4</td>
			</tr>
			<tr id="tuss">
				<td>Time Until Simulation Starts</td>
				<td id ="valve1">Row 1 Column 2</td>
				<td id ="valve2">Row 1 Column 3</td>
				<td id ="valve3">Row 1 Column 4</td>
			</tr>
			<tr id="tuse">
				<td>Time Until Simulation Ends</td>
				<td id ="valve1">Row 1 Column 2</td>
				<td id ="valve2">Row 1 Column 3</td>
				<td id ="valve3">Row 1 Column 4</td>
			</tr>
			<tr id="tte">
				<td>Total Time Elapsed</td>
				<td id ="valve1">Row 1 Column 2</td>
				<td id ="valve2">Row 1 Column 3</td>
				<td id ="valve3">Row 1 Column 4</td>
			</tr>
			<tr id="tunp">
				<td>Time Until Next Pour</td>
				<td id ="valve1">Row 1 Column 2</td>
				<td id ="valve2">Row 1 Column 3</td>
				<td id ="valve3">Row 1 Column 4</td>
			</tr>
			<tr id="nodp">
				<td>Number of Drinks Poured</td>
				<td id ="valve1">Row 1 Column 2</td>
				<td id ="valve2">Row 1 Column 3</td>
				<td id ="valve3">Row 1 Column 4</td>
			</tr>
			<tr id="vodp">
				<td>Volume of Drinks Poured</td>
				<td id ="valve1">Row 1 Column 2</td>
				<td id ="valve2">Row 1 Column 3</td>
				<td id ="valve3">Row 1 Column 4</td>
			</tr>
			<tr id="tvrik">
				<td>Total Volume Remaining in Keg</td>
				<td id ="keg" colspan="3">Probably Enough</td>
			</tr>
			<tr id="etadkwe">
				<td>Estimated Time and Date Keg Will Empty</td>
				<td id ="keg" colspan="3" >Good Question</td>
			</tr>
		</table>
		<br>


		<script>
			// LIST OF FUNCTIONS
			function formatAMPM(datetime) {
				//var months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Augt", "Sept", "Oct", "Nov", "Dec"];
				var months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
				var days = ["Sun", "Mon", "Tues", "Wed", "Thurs", "Fri", "Sat"];

				var year = datetime.getFullYear();
				var month = datetime.getMonth();
				var date = datetime.getDate();
				var day = datetime.getDay();
				var hours = datetime.getHours();
				var minutes = datetime.getMinutes();
				
				var ampm = hours >= 12 ? 'PM' : 'AM';
				hours = hours % 12;
				hours = hours ? hours : 12; // the hour '0' should be '12'
				minutes = minutes < 10 ? '0'+minutes : minutes;
				var strTime = days[day] + ', ' + months[month] + ' ' + date + ', ' + year + ' at ' + hours + ':' + minutes + ampm;
				return strTime;
			}

			function getTimeRemainingOrElapsed(endtime,starttime) {
				// Find the distance between now and the count down date
				var distance = endtime - starttime;
				// Time calculations for days, hours, minutes and seconds
				var days = Math.floor(distance / (1000 * 60 * 60 * 24));
				var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
				var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
				var seconds = Math.floor((distance % (1000 * 60)) / 1000);
				if(days>0){
					var output = days + "days " + hours + "hrs " + minutes + "min " + seconds + "sec ";
				}else if(hours>0){
					var output = hours + "hrs " + minutes + "min " + seconds + "sec ";
				}else if(minutes>0){
					var output = minutes + "min " + seconds + "sec ";
				}else{
					var output = seconds + "sec ";
				}
				return {
					'output':  output,
					'total': distance,
					'days': days,
					'hours': hours,
					'minutes': minutes,
					'seconds': seconds
				};
			}
			
			function convertDatetime(input) {
				// Find the distance between now and the count down date
				var output = new Date(input)
				output = new Date(output.getTime() + 60000*output.getTimezoneOffset())
				return output;
			}
			
			
			// START OF PASSING AND CALCULATING VARIABLES - using jQuery every 1 second
			$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
			function update_checks_and_other() {
				$.getJSON($SCRIPT_ROOT+"/_stuff",
					function(data) {
						for(i = 1; i <= data.dynamic_values.num_of_valves; i++){
							switch(i){
								case 1:
									parseThis = data.dynamic_values.valve1;
									valve_num = "valve1";
									break;
								case 2:
									parseThis = data.dynamic_values.valve2;
									valve_num = "valve2";
									break;
								case 3:
									parseThis = data.dynamic_values.valve3;
									valve_num = "valve3";
									break;
							}
							
							document.getElementById("keg_stats").rows.namedItem("sstad").cells.namedItem(valve_num).innerHTML = parseThis.POURING;
							document.getElementById("SCHEDULED_CHECK").value = data.dynamic_values.SCHEDULED_CHECK;
							document.getElementById("START_CHECK").value = data.dynamic_values.START_CHECK;
							document.getElementById("datetime_of_next_pour").value = data.dynamic_values.datetime_of_next_pour;	
							if(data.dynamic_values.SCHEDULED_CHECK==1){
								document.getElementById("keg-volume-remaining").value  = Math.round(data.dynamic_values.volume_of_keg_remaining*10)/10;
								document.getElementById("keg_stats").rows.namedItem("nodp").cells.namedItem(valve_num).innerHTML = parseThis.drinks + " of " + parseThis.drinks_poured;
								document.getElementById("keg_stats").rows.namedItem("vodp").cells.namedItem(valve_num).innerHTML = Math.round(parseThis.volume_of_drinks*10)/10 + "oz of " + (parseThis.volume_of_drink*parseThis.drinks)+ "oz";
								document.getElementById("percent-keg-remaining").innerHTML = Math.round((data.dynamic_values.volume_of_keg_remaining/data.dynamic_values.volume_of_keg)*10000)/100;
							}
						}
					});
			}
			update_checks_and_other();
			setInterval(update_checks_and_other, 1000);
			
			// PASS IN STATIC VALUES UPON PAGE LOAD
			if({{SCHEDULED_CHECK|tojson}}==1){
				// static values
				var simStartDatetime = convertDatetime({{ start_datetime_day|tojson }})
				document.getElementById("sim-start-datetime").value = formatAMPM(simStartDatetime);
				document.getElementById("keg_stats").rows.namedItem("sstad").cells.namedItem("valve1").innerHTML = formatAMPM(simStartDatetime);;
				var simEndDatetime = convertDatetime({{ end_datetime_day|tojson }})
				document.getElementById("sim-end-datetime").value = formatAMPM(simEndDatetime);
				var emptyKegDatetime = convertDatetime({{ datetime_keg_empties|tojson }})
				document.getElementById("datetime-keg-empties").value = formatAMPM(emptyKegDatetime);
				
				document.getElementById("keg-volume-total").value = {{volume_of_keg|tojson}};
				document.getElementById("drinks-total").value = {{drinks|tojson}}*{{days_of_operation|tojson}};
				document.getElementById("drink-volume-total").value = {{drinks|tojson}}*{{days_of_operation|tojson}}*{{volume_of_drink|tojson}};
				
				// dynamic values
				// in jQuery

			}else{
				// static values
				document.getElementById("sim-start-datetime").value = "Simulation Not Scheduled";
				document.getElementById("keg_stats").rows.namedItem("sstad").cells.namedItem("valve1").innerHTML = "Simulation Not Scheduled";
				document.getElementById("sim-end-datetime").value = "Simulation Not Scheduled";
				document.getElementById("keg-volume-total").value = "N/A";
				document.getElementById("drinks-total").value = "N/A";
				document.getElementById("drink-volume-total").value = "N/A";
				document.getElementById("datetime-keg-empties").value = "Simulation Not Scheduled";

				// non-timer dynamic values
				document.getElementById("keg-volume-remaining").value = "N/A";
				document.getElementById("drinks-poured").value = "N/A";
				document.getElementById("drink-volume-poured").value = "N/A";	
				document.getElementById("percent-keg-remaining").innerHTML = "N/A";
			}
			
			// TIMER FUNCTION FOR TUSS TUSE TTE TUNP
			setInterval(function x() {
				// import start date and time, then adjust for time-zone
				var countDownToStart = convertDatetime({{ start_datetime_day|tojson }})
				var countDownToPour = convertDatetime(document.getElementById("datetime_of_next_pour").value)
				var countDownToEnd = convertDatetime({{ end_datetime_day|tojson }})

				// calculate and return days, hours, minutes, and seconds
				var now = new Date()
				var sc_v = getTimeRemainingOrElapsed(countDownToStart,now);
				var tunp_v = getTimeRemainingOrElapsed(countDownToPour,now);
				var tue_v = getTimeRemainingOrElapsed(countDownToEnd,now);
				var rt_v = getTimeRemainingOrElapsed(now,countDownToStart);
				
				if (document.getElementById("START_CHECK").value==0&&{{START_CHECK|tojson}}==0) {
					document.getElementById("run-time").value = "Simulation Not Started";
				}else if(tue_v.total>0){
					document.getElementById("run-time").value = rt_v.output;
				}else{
					var last_runtime = getTimeRemainingOrElapsed(countDownToEnd,countDownToStart);
					document.getElementById("run-time").value = last_runtime.output
				}
				
				if (document.getElementById("SCHEDULED_CHECK").value==0) {
					document.getElementById("time-until-end").value = "Simulation Not Scheduled";
				}else if(tue_v.total>=0){
					document.getElementById("time-until-end").value = tue_v.output
				}else{
					document.getElementById("time-until-end").value = "Simulation Has Ended"
				}
				
				if ({{SCHEDULED_CHECK|tojson}}==0) {
					document.getElementById("sim-countdown").value = "Simulation Not Scheduled";
				}else if(document.getElementById("START_CHECK").value==0){
					document.getElementById("sim-countdown").value = sc_v.output;
				}else if(tue_v.total<=0){
					document.getElementById("sim-countdown").value = "Simulation Has Ended";
				}else{
					document.getElementById("sim-countdown").value = "Simulation Started";
				}

				if ({{SCHEDULED_CHECK|tojson}}==0) {
					document.getElementById("time-until-next-pour").value = "Simulation Not Scheduled";
				}else if(tue_v.total<=0){
					document.getElementById("time-until-next-pour").value = "Simulation Has Ended";
				}else if(document.getElementById("POURING").value==0){
					if(document.getElementById("drinks-poured").value==document.getElementById("drinks-total").value||({{drinks|tojson}}*{{days_of_operation|tojson}})=={{drinks_poured|tojson}}){
						document.getElementById("time-until-next-pour").value = "All drinks poured";
					}else{
						document.getElementById("time-until-next-pour").value = tunp_v.output;
					}
				}
				else if(document.getElementById("POURING").value==1){
					document.getElementById("time-until-next-pour").value = "POURING";
				}

				return x;
			}(), 100);

		</script>
	</body>


{% endblock content %}
